/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
/composer.lock
/package-lock.json
/phpmetrics
/phpunit
.phpunit.result.cache
/tests/Feature/ExampleTest.php
/tests/Unit/ExampleTest.php
/auth.json
.DS_Store
*.log
